name: Discord Notifications

on:
  push:
    branches: [master]   # change to your default branch if needed
  pull_request:
    types: [opened, closed, merged]
  release:
    types: [published]

jobs:
  discord:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord Notification
        uses: wei/git-discord@v2
        with:
          webhook: https://discordapp.com/api/webhooks/1475246351251148944/mO5g8YjtwPOlhKgs54_9NPAdla-SEqwDCSSHQhgD50XsrYsxO-2q4S8XQG3PVSk11FWT
          username: "GitHub Bot"
          avatar: "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          content: |
            ${{ github.event_name == 'push' && format('**New push to {0} branch!**\nCommit by {1}: {2}', github.ref_name, github.actor, github.event.head_commit.message) }}
            ${{ github.event_name == 'pull_request' && format('**Pull request {0}**\nTitle: {1}\nBy: {2}\nURL: {3}', github.event.action, github.event.pull_request.title, github.event.pull_request.user.login, github.event.pull_request.html_url) }}
            ${{ github.event_name == 'release' && format('**New release: {0}**\nBy: {1}\nURL: {2}', github.event.release.tag_name, github.event.release.author.login, github.event.release.html_url) }}
