name: Discord Notifications

on:
  push:
    branches: [master, main]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord message
        run: |
          curl -H "Content-Type: application/json" \
          -X POST \
          -d "{\"content\": \"New push to branch ${{ github.ref_name }} by ${{ github.actor }}\"}" \
          ${{ secrets.DISCORD_WEBHOOK }}
